# Powtórka- Środowe warsztaty z Pythona - SKN Statystyki

Przed semstrem letnim przygotowaliśmy dla Was ćwiczenia, które przypomną materiał przerabiany w zeszłym semstrze, tak by nie mieć braków przed zbliżającym się, letnim. Jest to również idealne podsumowanie dla osób chcących do nas dołączyć i nie wiedzą, co przerobić. 

Gdy wyjdzie Tobie to samo co na dole, to znaczy, że odpowiedź jest prawidłowa i możesz iść dalej. Konkretne odpowiedzi znajdują się w pliku 'odp_powtorka_SKNS.ipynb', natomiast zachęcamy do sprawdzenia na GitHubie (https://github.com/MichalKorzycki/WarsztatPythonDataScience) lub poszukajcie w internecie - trzeba tylko odpowiednio zapytać np. 'python pandas how to change name of a column'

Możecie też przypomnieć sobie ćwiczenia, które przygotowaliśmy dla Was po świętach. https://drive.google.com/open?id=1qU2Vr_m57oioX06occnHbYZImeR9ALof

Masz tu zagnieżdżoną listę, wyjmij z niej słowo 'hello'

In [9]:
hell = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

'hello'

Stwórz funkcję 'only_domain', która dostając adres email np. 'alex.mitras@domain.com' zwraca nazwę domeny 'domain.com'|

Teraz uruchom poniższy wiersz za pomocą 'Shift + Enter'

In [19]:
only_domain('skn.staty@gmail.com')

'gmail.com'

Stwórz funkcję, która zwraca z listy tylko słowa zaczynające się na literę 's'

In [8]:
lst = ['samotność', 'bazar', 'samochód', 'arabeska', 'podróż']

['samotność', 'samochód']

Prowadzisz auto trochę za szybko i policjant Cię zatrzymuje. Napisz funkcję 'drogowka', która daje 3 możliwe rezultaty: "Brak mandatu", "Niski mandat", or "Wysoki mandat". Jeśli prekość jest 50 lub mniejsza, wyświetla się "Brak mandatu". Jesli prędkość jest między 51 i 60 włącznie, daje "Niski mandat". Jeśli prędkośc to 61 lub więcej, wyświetla się "Wysoki mandat". Jeśli masz tego dnia urodziny (jako wartość zerojedynkowa boolean) możesz jechać 5 km/h szybciej.

In [3]:
drogowka(62, True)

'Niski mandat'

In [4]:
drogowka(70, False)

'Wysoki mandat'

Stwórz funkcję 'fib' po wpisaniu ilości generuje taką listę z ciągiem liczb Fibonacciego, czyli rozpoczynającym się od 0,1 potem każda liczba w ciągu jest sumą dwóch poprzednich (0,1,1,2,3,5,8,13,21,34,55,89,...).

Poniżej użycie funkcji input - uruchom wiersz. Ciekawe co?

Pokażę tyle liczb Fibonacciego, ile tylko zechcesz: 34

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887]

Zaimportuj bibliotekę pandas jako pd i numpy jako np

Zaimportuj plik 'Ecommerce Purchases' jako dataframe o nazwie 'ecom'. Są to fałszywe dane transakcyjne ze sklepu internetowego. RODO zachowane ;-)

Wyświetl 10 pierwszych linijek

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63

Jak wiele kolumn i wierszy ma ten dataframe?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

Jaka jest średnia 'Purchase Price' ? Zaokrąglij, do 2 miejsc po przecinku

50.35

Jaka jest najniższa i najwyższa 'Purchase Price'?

99.99

0.0

Jak wiele osób ma zapisany język francuski 'fr ?'

Address             1097
Lot                 1097
AM or PM            1097
Browser Info        1097
Company             1097
Credit Card         1097
CC Exp Date         1097
CC Security Code    1097
CC Provider         1097
Email               1097
Job                 1097
IP Address          1097
Language            1097
Purchase Price      1097
dtype: int64

Rozdziel kolumnę 'CC Exp Date' na dwie kolumny 'CC Exp Month' i 'CC Exp Year'

In [41]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,CC Exp Month,CC Exp Year
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,02,2020
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,11,2018
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,08,2019
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,02,2024
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,10,2025

Usuń kolumnę 'CC Exp Date'

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,CC Exp Month,CC Exp Year
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,02,2020
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,11,2018
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,08,2019
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,02,2024
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,10,2025
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15,07,2025
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56,07,2024
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25,06,2025
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54,04,2024
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63,01,2017
10,"650 Elizabeth Park\nLake Maria, LA 13526-2530",65 Yn,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...,"Strickland, Michael and Gonzales",180036417827355,754,Voyager,ustewart@hotmail.com,"Development worker, community",26.59.93.1,el,96.89,02,2017
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26,06,2026
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65,05,2026
13,"118 Melton Via Suite 681\nAlexanderbury, FL 32104",36 bu,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Keller PLC,4603635169938574,557,VISA 16 digit,caitlin57@yahoo.com,"Accountant, chartered public finance",84.212.92.11,it,8.93,01,2025
14,"8774 Jason Keys Suite 427\nEast Scottborough, ...",70 zH,AM,Mozilla/5.0 (Windows 98; it-IT; rv:1.9.2.20) G...,"Leach, Howe and Ferguson",869967499275071,427,VISA 16 digit,aburns@yahoo.com,Acupuncturist,50.25.148.1,de,24.18,09,2022
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78,04,2025
16,5283 Thomas Trafficway Suite 343\nEast Brittne...,31 ho,AM,Opera/9.73.(Windows NT 6.2; sl-SI) Presto/2.9....,"Stanton, Villanueva and Swanson",676121145525,285,Diners Club / Carte Blanche,griffincatherine@wilson.com,"Therapist, art",8.145.170.52,de,84.44,06,2022
17,950 Jacqueline Village Apt. 592\nPort Kimberly...,23 Rh,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Fernandez, Melton and Gilbert",3337515540944084,771,American Express,stacymitchell@hall.com,"Designer, jewellery",223.25.125.61,el,58.68,01,2026
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15,12,2022
19,"125 Hall Summit\nBoothton, IL 41721",99 CU,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Turner-Mckinney,676343504830,440,VISA 16 digit,ruiznicole@gmail.com,"Designer, interior/spatial",25.105.209.214,fr,58.39,02,2020
20,"7383 George Village\nLake Jamesview, CO 79828",23 dk,PM,Mozilla/5.0 (Windows; U; Windows NT 4.0) Apple...,"Santana, Montes and Pierce",6011833038852776,740,Maestro,zstephenson@smith.info,Public relations officer,250.71.54.180,de,30.33,03,2022
21,"282 Miller Valleys Suite 404\nWilkinsonbury, M...",24 RZ,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,Guzman-Reese,5491255326230898,506,JCB 16 digit,rsmith@hotmail.com,"Presenter, broadcasting",125.58.66.253,it,90.93,03,2025
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62,07,2022
23,"25292 Shepherd Trail Apt. 798\nRussellmouth, S...",31 pS,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows 98;...,Cruz Inc,502010078983,60,VISA 13 digit,ltaylor@gardner-meadows.com,Field seismologist,25.193.145.116,ru,97.97,02,2023
24,Unit 3046 Box 3197\nDPO AE 61496-4172,62 Ac,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows CE;...,Morris PLC,4749728852401144,11,JCB 15 digit,james07@yahoo.com,Musician,21.113.231.220,es,85.31,07,2018
25,"80797 Ryan Trail Apt. 752\nAaronhaven, MI 0622...",66 SO,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_1...,Saunders-Mendez,869938033091779,901,Voyager,madison41@mooney.com,Training and development officer,67.26.186.226,de,6.25,05,2019
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75,03,2019
27,"5015 Smith Harbors\nSouth Ashley, OK 81283",34 JQ,PM,Opera/9.75.(Windows NT 6.0; en-US) Presto/2.9....,"Levine, Shaw and Jenkins",869948145612941,310,Diners Club / Carte Blanche,michael35@hotmail.com,Careers adviser,177.220.131.93,es,39.40,12,2016
28,"50533 Cooper Cliffs\nNorth Jonathanberg, MD 20482",17 kP,PM,Mozilla/5.0 (Windows; U; Windows NT 6.1) Apple...,Reed Inc,180026477662982,16,JCB 15 digit,khandeborah@yahoo.com,"Scientist, research (life sciences)",142.131.235.225,es,70.75,11,2024
29,"30755 Joshua Plaza Apt. 567\nWest Susanton, FM...",93 OP,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_7...,Goodwin Ltd,4170734785397597,319,Maestro,stonekaren@yahoo.com,Recycling officer,218.189.145.248,it,82.16,07,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76,07,2019
9971,"5806 Martinez Point\nLake Abigailstad, MD 6183...",07 wl,AM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5360...,Brewer-Howard,5359660631103048,586,Voyager,leslierichards@warner.org,"Therapist, art",81.2.189.127,de,65.06,01,2021
9972,"89504 Flynn Overpass Suite 822\nNew Elijah, WV...",23 eL,AM,Mozilla/5.0 (Windows NT 5.1; en-US; rv:1.9.2.2...,"Davis, Wise and Diaz",370589883240776,748,VISA 13 digit,kellycole@hotmail.com,"Sales professional, IT",102.53.225.61,zh,18.10,04,2022
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30,02,2019
9974,"500 Powell Rapid Apt. 114\nClarkfort, FL 70488",48 is,AM,Mozilla/5.0 (Windows 95) AppleWebKit/5312 (KHT...,Griffin-Lopez,630407297302,627,VISA 16 digit,paula72@yahoo.com,Sports therapist,166.220.170.176,el,66.45,04,2026
9975,5208 Hanson Trail Suite 527\nSouth Jonathanshi...,67 OX,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_8...,Bowen-Nelson,5361597780221625,225,JCB 16 digit,taylordiaz@roman.net,"Education officer, museum",114.197.6.210,zh,3.77,01,2019
9976,"5419 Cruz Island Apt. 033\nLake Todd, AK 24863...",93 FM,PM,Opera/9.38.(Windows NT 5.01; it-IT) Presto/2.9...,Henderson-Kelley,4458996242274056,291,VISA 16 digit,pbrown@gmail.com,Furniture designer,109.108.177.2,es,37.73,08,2021
9977,"02182 Keith Expressway\nEast Shannon, CT 20578...",34 RL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Deleon, Jacobson and Benton",4186094003664688,397,JCB 16 digit,daltoncarter@yahoo.com,Biomedical engineer,146.238.118.2,fr,94.93,06,2021
9978,"991 Watts Court\nSouth Danielstad, IA 39032-8865",66 eb,AM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_7_3; r...,Perez Group,3088185172584201,589,Discover,ywhite@hotmail.com,"Designer, exhibition/display",232.219.30.162,de,14.49,11,2021
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55,10,2023
9980,"6061 Dave Lights\nPhillipsview, UT 40500",25 Mv,AM,Opera/8.58.(Windows NT 5.0; it-IT) Presto/2.9....,Cortez-Frye,6011944199756993,755,JCB 15 digit,mark74@kirby-stewart.org,Textile designer,110.103.77.195,fr,16.05,12,2024
9981,"087 Larson Roads Apt. 587\nRicestad, WI 98077-...",95 Kw,AM,Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...,"Ortiz, Schultz and Adams",4690863684605,695,Mastercard,laurenbennett@richards.com,Environmental education officer,106.21.237.73,pt,63.61,01,2019
9982,"18044 Mcintosh Row Apt. 122\nLake Jennifer, NC...",77 uq,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_0...,Chen LLC,210040992311995,79,JCB 16 digit,heather24@gmail.com,Restaurant manager,93.254.124.2,it,56.25,09,2018
9983,"PSC 5678, Box 4503\nAPO AP 94998-5546",79 cd,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Hall-Cantu,343856674589081,206,JCB 16 digit,jacksonmanuel@rodriguez-welch.com,"Scientist, research (life sciences)",245.22.66.225,de,47.70,04,2023
9984,"7560 Boyle Keys\nAntoniomouth, DC 00522-0367",72 Qb,AM,Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....,Johnson-Brandt,3088208142188125,572,Maestro,clee@vasquez-luna.com,"Editor, commissioning",140.157.37.218,el,33.57,03,2021
9985,"7456 Stevens Rest\nEricside, FL 16389",27 Yv,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Murphy-Cook,6011264939622870,847,VISA 16 digit,cranejames@white.com,"Designer, interior/spatial",188.73.131.92,de,46.33,08,2021
9986,"2719 Troy Drive Suite 062\nLisachester, PW 414...",80 Wl,PM,Mozilla/5.0 (Windows NT 5.2; sl-SI; rv:1.9.1.2...,Campbell-Hurley,4220882411745414,460,JCB 16 digit,belindaleon@schwartz.com,Cabin crew,110.103.102.55,it,22.02,08,2018
9987,"2754 Klein Mission\nJohnsonview, PA 64925-9624",65 Fg,PM,Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...,Curtis LLC,180027305702263,865,Mastercard,denisehamilton@novak.biz,Primary school teacher,164.39.190.217,es,60.83,12,2024
9988,"0154 Green Forest\nNew Timothy, IL 33670-4620",11 MC,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...,Williams-Walker,4207292109379681,571,Diners Club / Carte Blanche,hudsonmichael@pace.com,Charity fundraiser,136.169.160.82,de,89.76,10,2016
9989,"5674 Cruz Trace\nNew Shelby, KY 51047-5469",12 Kf,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Vargas, Nichols and Martinez",5278049688438382,996,VISA 16 digit,walterswilliam@hotmail.com,Community development worker,39.162.164.169,pt,17.18,12,2023
9990,"75731 Molly Springs\nWest Danielle, VT 96934-5102",93 ty,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,"Pace, Vazquez and Richards",869968197049750,877,JCB 15 digit,andersonmichael@sherman.biz,Early years teacher,54.170.3.185,ru,18.35,04,2024
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93,02,2024
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4664825258997302,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96,10,2020
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61,10,2025
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85,01,2025
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21,03,2022
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,07,2025
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,05,2021
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,11,2017
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59,02,2019

Usuń kolumnę 'CC Exp Date' na stałe

Teraz dla ćwiczenia połącz kolumny 'CC Exp Month' i 'CC Exp Year' w jedną 'CC Exp Date'

In [45]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,CC Exp Month,CC Exp Year,CC Exp Date
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,02,2020,02/2020
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,11,2018,11/2018
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,08,2019,08/2019
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,02,2024,02/2024
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,10,2025,10/2025

Jak wiele osób ma kartę kredytową wygasającą w 2022 roku?

Address             996
Lot                 996
AM or PM            996
Browser Info        996
Company             996
Credit Card         996
CC Security Code    996
CC Provider         996
Email               996
Job                 996
IP Address          996
Language            996
Purchase Price      996
CC Exp Month        996
CC Exp Year         996
CC Exp Date         996
dtype: int64

Pokaż e-mail osoby z nr karty 561252141909

7    phillip48@parks.info
Name: Email, dtype: object

Jakich jest 5 top dostawców kart kredytowych?

JCB 16 digit        1716
VISA 16 digit       1715
JCB 15 digit         868
American Express     849
Maestro              846
Name: CC Provider, dtype: int64

Pokaż ile osób zrobiło zakup przed i po południu (AM lub PM)

AM or PM
AM    4932
PM    5068
Name: Email, dtype: int64

Pokaż sumy i średnie wartości transakcji w zależności od języków

                   mean            sum
         Purchase Price Purchase Price
Language
de            50.254485       58043.93
el            51.555356       58618.44
en            51.103015       56111.11
es            49.366977       54056.84
fr            49.476718       54275.96
it            50.001004       54301.09
pt            51.215546       57258.98
ru            49.927134       57665.84
zh            50.180198       53140.83

Jak wiele osób używa kart Mastercard i zrobiło zakupy powyżej 80$

Address             175
Lot                 175
AM or PM            175
Browser Info        175
Company             175
Credit Card         175
CC Security Code    175
CC Provider         175
Email               175
Job                 175
IP Address          175
Language            175
Purchase Price      175
CC Exp Month        175
CC Exp Year         175
CC Exp Date         175
dtype: int64

# Tidy Data

Poniżej wczytujemy bazę danych z arkusza excel ONZ o migracji (link: https://www.un.org/en/development/desa/population/migration/data/estimates2/estimates15.asp - klinkij link 'By destination and origin'). Najpierw zapoznaj się z nią jak wygląda w Excelu. Wybieramy 'Table 15' i pomijamy pierwszych 15 wierszy. By zobaczyć jakie jeszcze możliwości skrywa funkcja .read_excel(), będąc w nawiasie klinkij 'Shift + Tab' - taki opis jest dla każdej funkcji :-)

Obejrzyj jak wygląda nasz dataframe

In [5]:
undf.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total,Other North,Other South,Afghanistan,Albania,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,1,WORLD,NaN,900,NaN,107100529,1006938.0,3538705.0,2244978.0,534031.0,...,173958.0,927323.0,3915.0,307720.0,1133226.0,3829.0,41543.0,287304.0,110278.0,301827.0
1,2,Developed regions,(b),901,NaN,68479248,277396.0,1947887.0,170878.0,531810.0,...,91700.0,709941.0,1279.0,254968.0,1010388.0,0.0,34.0,28773.0,34063.0,119568.0
2,3,Developing regions,(c),902,NaN,38621281,729542.0,1590818.0,2074100.0,2221.0,...,82258.0,217382.0,2636.0,52752.0,122838.0,3829.0,41509.0,258531.0,76215.0,182259.0
3,4,Least developed countries,(d),941,NaN,4558008,107207.0,378826.0,0.0,0.0,...,306.0,522.0,31.0,2089.0,28757.0,0.0,0.0,180.0,34320.0,44847.0
4,5,Less developed regions excluding least develop...,NaN,934,NaN,34063273,622335.0,1211992.0,2074100.0,2221.0,...,81952.0,216860.0,2605.0,50663.0,94081.0,3829.0,41509.0,258351.0,41895.0,137412.0

Zauważ, że kolumna E w Excelu jest zawsze opisem danych, tutaj można łatwo zobaczyć że nosi nazwę 'Unnamed: 4'. Teraz oczyścimy, by mieć dane bez podsumowań.

In [6]:
undf = undf[undf['Unnamed: 4'].notna()]

In [7]:
undf.head(25)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total,Other North,Other South,Afghanistan,Albania,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
8,9,Burundi,NaN,108,B R,119436,1004.0,8565.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,Comoros,NaN,174,B,6558,294.0,370.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,Djibouti,NaN,262,B R,48280,673.0,2022.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.0,NaN,NaN
11,12,Eritrea,NaN,232,I,7073,339.0,736.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,95.0
12,13,Ethiopia,NaN,231,B R,270186,6790.0,20372.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN
13,14,Kenya,NaN,404,B R,467616,11014.0,18753.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Madagascar,NaN,450,C,12495,1859.0,1486.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,Malawi,NaN,454,B R,113853,5760.0,17290.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25418.0,20983.0
16,17,Mauritius,(1),480,C,11648,103.0,643.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,Mayotte,NaN,175,B,38257,396.0,397.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,Mozambique,NaN,508,B R,109936,7813.0,26906.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3070.0,14076.0
19,20,Réunion,NaN,638,B,60322,3769.0,4582.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,Rwanda,NaN,646,B R,218362,1278.0,8223.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,Seychelles,NaN,690,B,3616,63.0,71.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,Somalia,NaN,706,I R,11081,3329.0,6849.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,South Sudan,NaN,728,B R,125212,NaN,1089.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,Uganda,NaN,800,B R,267514,25.0,1388.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,United Republic of Tanzania,(2),834,B R,154616,1357.0,2124.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5553.0,323.0
26,27,Zambia,NaN,894,B R,73862,766.0,7975.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9338.0
27,28,Zimbabwe,NaN,716,B R,170924,2387.0,45575.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13047.0,NaN
29,30,Angola,NaN,24,B R,39436,3247.0,3305.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.0,NaN
30,31,Cameroon,NaN,120,B,128927,1162.0,2483.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,32,Central African Republic,NaN,140,C,43723,3005.0,9014.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,33,Chad,NaN,148,B R,230151,649.0,5292.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,34,Congo,NaN,178,B,191469,1506.0,2178.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Pozbyj się niepotrzebnych kolumn

In [9]:
undf.head(10)

,Unnamed: 1,Unnamed: 3,Other North,Other South,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
8,Burundi,108,1004.0,8565.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Comoros,174,294.0,370.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Djibouti,262,673.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.0,NaN,NaN
11,Eritrea,232,339.0,736.0,NaN,NaN,NaN,NaN,NaN,144.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,95.0
12,Ethiopia,231,6790.0,20372.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN
13,Kenya,404,11014.0,18753.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Madagascar,450,1859.0,1486.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Malawi,454,5760.0,17290.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25418.0,20983.0
16,Mauritius,480,103.0,643.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Mayotte,175,396.0,397.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Zmień nazwy kolumn 'Unnamed: 1'na 'Destination Country' i 'Unnamed: 3' na 'Destination Country Code', zapisując zmiany w dataframe.

In [11]:
undf.head()

,Destination Country,Destination Country Code,Other North,Other South,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
8,Burundi,108,1004.0,8565.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Comoros,174,294.0,370.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Djibouti,262,673.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.0,NaN,NaN
11,Eritrea,232,339.0,736.0,NaN,NaN,NaN,NaN,NaN,144.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,95.0
12,Ethiopia,231,6790.0,20372.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,NaN

Teraz przerób na postać 'Tidy' - jak to wykonać znajdziesz w wykładach 4 i 5

In [13]:
undf.head()

  Destination Country  Destination Country Code Origin Country  People
0             Burundi                       108    Other North  1004.0
1             Comoros                       174    Other North   294.0
2            Djibouti                       262    Other North   673.0
3             Eritrea                       232    Other North   339.0
4            Ethiopia                       231    Other North  6790.0

I dane są tidy! To bardzo ważne by umieć je przetworzyć w taki sposób. W tej postaci używamy ich później w analizach

Pokaż z jakich krajów przyjeżdzali migranici do Polski

Origin Country
Afghanistan                                                 15.0
Albania                                                     20.0
Algeria                                                    109.0
American Samoa                                               NaN
Andorra                                                      NaN
Angola                                                       7.0
Anguilla                                                     NaN
Antigua and Barbuda                                          NaN
Argentina                                                  111.0
Armenia                                                    839.0
Aruba                                                        NaN
Australia                                                  399.0
Austria                                                   2021.0
Azerbaijan                                                 126.0
Bahamas                                                      NaN
Bahrain                                                      NaN
Bangladesh                                                  15.0
Barbados                                                     NaN
Belarus                                                  49992.0
Belgium                                                   2653.0
Belize                                                       NaN
Benin                                                        NaN
Bermuda                                                      NaN
Bhutan                                                       NaN
Bolivia (Plurinational State of)                            12.0
Bonaire, Sint Eustatius and Saba                             NaN
Bosnia and Herzegovina                                    2196.0
Botswana                                                     NaN
Brazil                                                     117.0
British Virgin Islands                                       NaN
                                                          ...
Tajikistan                                                  45.0
Thailand                                                    51.0
The former Yugoslav Republic of Macedonia                  110.0
Timor-Leste                                                  NaN
Togo                                                         NaN
Tokelau                                                      NaN
Tonga                                                        NaN
Trinidad and Tobago                                          NaN
Tunisia                                                     52.0
Turkey                                                     214.0
Turkmenistan                                                52.0
Turks and Caicos Islands                                     NaN
Tuvalu                                                       NaN
Uganda                                                      40.0
Ukraine                                                 137339.0
United Arab Emirates                                        63.0
United Kingdom of Great Britain and Northern Ireland     17131.0
United Republic of Tanzania                                 27.0
United States Virgin Islands                                 NaN
United States of America                                  7215.0
Uruguay                                                     49.0
Uzbekistan                                                 344.0
Vanuatu                                                      NaN
Venezuela (Bolivarian Republic of)                           9.0
Viet Nam                                                  1178.0
Wallis and Futuna Islands                                    NaN
Western Sahara                                               NaN
Yemen                                                       47.0
Zambia                                                       6.0
Zimbabwe                                                    59.0
Name: Poland, Length: 234, dtype: float64

Uzupełnij puste pola zerami przy użyciu .fillna()

Origin Country
Afghanistan                                                 15.0
Albania                                                     20.0
Algeria                                                    109.0
American Samoa                                               0.0
Andorra                                                      0.0
Angola                                                       7.0
Anguilla                                                     0.0
Antigua and Barbuda                                          0.0
Argentina                                                  111.0
Armenia                                                    839.0
Aruba                                                        0.0
Australia                                                  399.0
Austria                                                   2021.0
Azerbaijan                                                 126.0
Bahamas                                                      0.0
Bahrain                                                      0.0
Bangladesh                                                  15.0
Barbados                                                     0.0
Belarus                                                  49992.0
Belgium                                                   2653.0
Belize                                                       0.0
Benin                                                        0.0
Bermuda                                                      0.0
Bhutan                                                       0.0
Bolivia (Plurinational State of)                            12.0
Bonaire, Sint Eustatius and Saba                             0.0
Bosnia and Herzegovina                                    2196.0
Botswana                                                     0.0
Brazil                                                     117.0
British Virgin Islands                                       0.0
                                                          ...
Tajikistan                                                  45.0
Thailand                                                    51.0
The former Yugoslav Republic of Macedonia                  110.0
Timor-Leste                                                  0.0
Togo                                                         0.0
Tokelau                                                      0.0
Tonga                                                        0.0
Trinidad and Tobago                                          0.0
Tunisia                                                     52.0
Turkey                                                     214.0
Turkmenistan                                                52.0
Turks and Caicos Islands                                     0.0
Tuvalu                                                       0.0
Uganda                                                      40.0
Ukraine                                                 137339.0
United Arab Emirates                                        63.0
United Kingdom of Great Britain and Northern Ireland     17131.0
United Republic of Tanzania                                 27.0
United States Virgin Islands                                 0.0
United States of America                                  7215.0
Uruguay                                                     49.0
Uzbekistan                                                 344.0
Vanuatu                                                      0.0
Venezuela (Bolivarian Republic of)                           9.0
Viet Nam                                                  1178.0
Wallis and Futuna Islands                                    0.0
Western Sahara                                               0.0
Yemen                                                       47.0
Zambia                                                       6.0
Zimbabwe                                                    59.0
Name: Poland, Length: 234, dtype: float64

# Świetna robota, do zobaczenia w środę!

Źródła: Materiały Jose Portilla oraz https://medium.com/@aaronmak/tidying-datasets-in-python-8634f39159bc 
        a także https://www.un.org/en/development/desa/population/migration/data/estimates2/estimates15.shtml